#include "bearpaw.dtsi"

&default_transform {
    col-offset = <6>;
};

&kscan0 {
    col-gpios = <&gpio0 2 (GPIO_ACTIVE_HIGH)>,
                <&gpio1 15 (GPIO_ACTIVE_HIGH)>,
                <&gpio1 13 (GPIO_ACTIVE_HIGH)>,
                <&gpio1 11 (GPIO_ACTIVE_HIGH)>,
                <&gpio0 10 (GPIO_ACTIVE_HIGH)>,
                <&gpio0 9 (GPIO_ACTIVE_HIGH)>;
};

nice_view_spi: &spi0 {
    compatible = "nordic,nrf-spim";
    status = "okay";
    
    // SCS pin
    cs-gpios = <&gpio0 17 GPIO_ACTIVE_LOW>;
    
    // SCLK and SI pins
    sck-pin = <31>;  // P0.31 for SCLK
    mosi-pin = <29>; // P0.29 for SI
};


